.block-carousel {
  background-color: $color-black;
  width: calc(100% - 100%/6*4);
  position: relative;
  z-index: 4;

  .block-carousel-items {
    .block-carousel-item {
      padding: $spacer/2;
      text-align: center;
      padding-top: 14vh;

      h2{
        margin-block-end: 1.4em;
      }
    }
  }  

  @media screen and (max-width: $mobile) {
    width: calc(100% - (100%/#{$segments-mobile}/2));

    .tns-controls {
      display: none !important;
    }

    .block-carousel-items {
      .block-carousel-item {
        padding: $spacer/3;
      }
    } 
  }
}

.block{
  position: relative;
  z-index: 4;
}