.next {
  background-color: $color-black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.about-us-links {
  width: 100%;
  height: 30vh;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  >a {
    display: flex;
    width: calc(100vw/6/2);
    height: calc(100vw/6/2);
    margin: 0 calc(100vw/6/2/2);
    border: 1px solid rgba($color-white, 0.5);
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: background-color $transition ease;

    &:hover{
      background-color: $color-white;
      color: $color-black;
    }
  }

  @media screen and (max-width: $mobile) {

    >a {
      display: flex;
      width: calc(100vw/#{$segments-mobile});
      height: calc(100vw/#{$segments-mobile});
      margin: 0 calc(100vw/#{$segments-mobile}/2);
      border: 1px solid rgba($color-white, 0.5);
      align-items: center;
      justify-content: center;
      color: $color-white;
      font-family: $font-family-secondary;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.625rem;
      text-decoration: none;
      transition: background-color $transition ease;
  
      &:hover{
        background-color: $color-white;
        color: $color-black;
      }
    }

  }
}