    .main-container-wraper{
        width: 100%;
        margin: 0 auto;
    }

    .block-text-image, .block-image-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .full-screen-block{
        min-height: 100vh;
        overflow: hidden;
    }
    .block-text-side{
        width: 49%;
        box-sizing: border-box;

        .block-text-side-wraper{
            width: 90%;            
        }
    }    
    .block-image-side{
        width: 49%;
        box-sizing: border-box;

        &.right {
            img{
                width: 91%;
                margin-left: auto;
            }
        }

        img{
            width: 100%;
        }
        .move-image-bottom{
            top: 100px;
            position: relative;
            z-index: 9;

            @media screen and (min-width: 1700px) {
                top: 145px;
            }
        }
    }
    
    .block-text-image .block-text-side-wraper{
        padding-left: calc(100vw / 6);
        padding-right: 0;
    }
    .block-image-text .block-text-side-wraper{
        padding-right: calc(100vw / 6);
        padding-left: 0;
        margin-right: 0;
        margin-left: auto;
    }

    .paralax-block-text{
        h2, h3, p{
            color: white;
        }
    }

    .paralax-block-text{
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;

        .block-text-side-wraper{
            position: relative;
            transition: 1s;            
        }
    }

    .centered-text-block-wrap{
        padding: 70px 0;
        padding-top: 150px;
        margin: 0 auto;
        display: block;
    }
    .centered-text-block{
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
        text-align: center;
    }

    .big-image-wraper {
        background-color: #F7F7F7;
        margin-bottom: 120px;
        img{
            position: relative;
            top: 60px;
        }
    }
    .block.centered-text-termometr-block{
        padding: 60px 0 130px 0;
    }
    .thermometr-desktop{
        display: block;        
    }
    .thermometr-mobile{
        display: none;        
    }  
    .testimonials_heading{
        font-size: 11px;
        font-family: "MB Empire";
        color: rgb(112, 112, 112);
        text-transform: uppercase;
        line-height: 1.636;
      }
    //   .testimonials_content{
    //         font-size: 28px;
    //         font-family: "Crimson Text";
    //         color: rgb(112, 112, 112);
    //         line-height: 1.2; 
    //   }
    //   .testimonials_signature {
    //     font-size: 20px;
    //     font-family: "Crimson Text";
    //     color: rgb(176, 176, 176);
    //     line-height: 1.6;
    //   }
      
      .theremometer-section5{
        min-height: 650px;
        height: 90vh;
        max-height: 890px;
      }
      .theremometer-section3-video{
            width: 23.9%;
            position: absolute;
            top: 10%;
            left: 38%;
            z-index: 9;
            border-radius: 4%;
            overflow: hidden;            
            box-sizing: border-box;
            div{
                position: relative;
                border-radius: 12px;
                overflow: hidden;
            }
            video{
                display: block;
                width: 100%;
                min-height: 100px;
            }
      }
      .theremometer-section3-mobile{
        width: 48.3%;
        position: absolute;
        top: 12%;
        left: 10%;
        z-index: 9;
        border-radius: 4%;
        overflow: hidden;
        box-sizing: border-box;

        div{
            position: relative;
            border-radius: 12px;
            overflow: hidden;
        }
        video{
            display: block;
            width: 100%;
            min-height: 100px;
        }
      }
      .theremometer-section5-video{
            width: 23.9%;
            position: absolute;
            top: 12.4%;
            left: 36.5%;
            z-index: 9;
            border-radius: 4%;
            overflow: hidden;
            height: 25vw;
            box-sizing: border-box;
            div{
                position: relative;
                border-radius: 12px;
                overflow: hidden;
            }
            video{
                display: block;
                width: 100%;
                min-height: 100px;
            }
      }

      .theremometer-section5-mobile{
        width: 48.3%;
        position: absolute;
        top: 12%;
        left: 44%;
        z-index: 9;
        border-radius: 4%;
        overflow: hidden;
        box-sizing: border-box;

        div{
            position: relative;
            border-radius: 12px;
            overflow: hidden;
        }
        video{
            display: block;
            width: 100%;
            min-height: 100px;
        }
      }

      .theremometer-section3 .block-image-side,  .theremometer-section5 .block-image-side{
          position: relative;
      }

      .theremometer-section8{
        //   min-height: 95vh;
      }
      
      @media screen and (max-width: 1200px) and (orientation: portrait) {
        .hero .cover-bg .cover-bg-img.thermometer-hero-bg{
            background-position-x: 32%!important;
        }
    }

    @media screen and (max-width: 991px) {
        .theremometer-section8{
            min-height: unset;
            padding: 50px 0;
        }
        .theremometer-section3{
            min-height: 700px;
            height: auto;
        }
        .theremometer-section5{
            max-height: unset;
            height: auto;
        }

        .theremometer-section5 .block-image-side, .theremometer-section5 .block-text-side, .theremometer-section3 .block-image-side, .theremometer-section3 .block-text-side, .theremometer-section8 .block-image-side, .theremometer-section8 .block-text-side{
            width: 100%;
        }
        .theremometer-section4{
            min-height: 90vh;
        }
    }
     
         

    @media screen and (max-width: 767px) {

        .theremometer-section8 {
            padding-bottom: 0;

            .move-image-bottom {
                margin-bottom: -120px;
            }
        }

        .big-image-wraper {
            margin-bottom: 80px;
        }

        .centered-text-block-wrap{
            padding-top: 80px;

            &.extra-padding-mobile {
                padding-top: 120px;
            }
        }
        
        .thermometr-desktop{
            display: none;        
        }
        .thermometr-mobile{
            display: block;        
        }
        .main-container-wraper{
            width: 100%;
            margin: 0 auto;
        }
        
        .block-text-side{
            width: 100%;
            padding: 0 30px;
            box-sizing: border-box;

            &.extra-padding-mobile {
                padding-top: 30px;
            }
    
            .block-text-side-wraper{
                width: 100%;
                max-width: 390px;
            }
        }    
        .block-image-side{
            width: 100%;

            
            &.right {
                img{
                width: 100%;
                margin-left: auto;
                }
            }

            img{
                width: 100%;
            }
            .move-image-bottom{
                top: 0px;
            }
        }
        .block-text-image .block-text-side-wraper{
            margin-left: auto;
            margin-right: auto;
            padding: 0 0 60px 0;

            &.reduce-padding-mobile {
                padding: 0 0 20px 0;
            }
        }
        .block-image-text .block-text-side-wraper{
            margin-right: auto;
            margin-left: auto;
            padding: 0 0 60px 0;
        }
        .block-image-text .block-text-side-wraper.mobile-padding, .block-text-image .block-text-side-wraper.mobile-padding{
            padding: 60px 0;
        }

        .paralax-block-text{
            height: 100vh;
        }

        .big-image-wraper.thermometer_fonts img {
            top:0;
        }

        .theremometer-section5{
            padding-top: 80px;
        }      
        
        
    }
