[data-entry=fade-in] {
  opacity: 0;
  transform: translateY(10rem);
  transition: transform $cover-transition * 5 cubic-bezier(0.09, 0.34, 0, 1), opacity $cover-transition * 5 cubic-bezier(0.09, 0.34, 0, 1);

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  &.d1 {
    transition-delay: $transition;
  }
  &.d2 {
    transition-delay: $transition*2;
  }
  &.d3 {
    transition-delay: $transition*3;
  }
  &.d4 {
    transition-delay: $transition*4;
  }

  @media screen and (max-width: $mobile) {
    &.d1 {
      transition-delay: 0;
    }
    &.d2 {
      transition-delay: 0;
    }
    &.d3 {
      transition-delay: 0;
    }
    &.d4 {
      transition-delay: 0;
    }
  }
}

[data-entry=slide-right] {
  opacity: 0;
  transform: translate(12rem, 5rem);
  transition: transform $cover-transition * 5 cubic-bezier(0.09, 0.34, 0, 1), opacity $cover-transition * 5 cubic-bezier(0.09, 0.34, 0, 1);

  &.slide-right {
    opacity: 1;
    transform: translate(0, 0);
  }

  &.d1 {
    transition-delay: $transition;
  }
  &.d2 {
    transition-delay: $transition*2;
  }
  &.d3 {
    transition-delay: $transition*3;
  }
  &.d4 {
    transition-delay: $transition*4;
  }

  @media screen and (max-width: $mobile) {
    &.d1 {
      transition-delay: 0;
    }
    &.d2 {
      transition-delay: 0;
    }
    &.d3 {
      transition-delay: 0;
    }
    &.d4 {
      transition-delay: 0;
    }
  }
}

[data-entry=slide-left] {
  opacity: 0;
  transform: translate(-12rem, 5rem);
  transition: transform $cover-transition * 5 cubic-bezier(0.09, 0.34, 0, 1), opacity $cover-transition * 5 cubic-bezier(0.09, 0.34, 0, 1);

  &.slide-left {
    opacity: 1;
    transform: translate(0, 0);
  }

  &.d1 {
    transition-delay: $transition;
  }
  &.d2 {
    transition-delay: $transition*2;
  }
  &.d3 {
    transition-delay: $transition*3;
  }
  &.d4 {
    transition-delay: $transition*4;
  }

  @media screen and (max-width: $mobile) {
    &.d1 {
      transition-delay: 0;
    }
    &.d2 {
      transition-delay: 0;
    }
    &.d3 {
      transition-delay: 0;
    }
    &.d4 {
      transition-delay: 0;
    }
  }
}

[data-entry=zoom-out]{
  padding-top: 10vh;; 
  width: 80%;
  position: relative;
  transform: translate(0, -270px);
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s, opacity .3s;
  margin-top: -10vh;
  opacity: 0;
  transition-delay: .5s;

  img{
    width: 130%;
    transition: all 1s;
    transition-delay: .5s;
  }

  &.zoom-out {
    width: 100%;
    transform: translate(0, 0);
    opacity: 1;

    img{
      width: 100%;      
      transition: 1s;
    }
  }

  &.d1 {
    transition-delay: $transition;
  }
  &.d2 {
    transition-delay: $transition*2;
  }
  &.d3 {
    transition-delay: $transition*3;
  }
  &.d4 {
    transition-delay: $transition*4;
  }

  @media screen and (max-width: $mobile) {
    &.d1 {
      transition-delay: 0;
    }
    &.d2 {
      transition-delay: 0;
    }
    &.d3 {
      transition-delay: 0;
    }
    &.d4 {
      transition-delay: 0;
    }
  }
}

