.text-hero-title {
  font-size: 6.5rem;
  color: $color-white;
  line-height: 5.5rem;
}

.text-subtitle {
  color: $color-white;
  font-size: 1.75rem;
}

.text-label {
  font-family: $font-family-additional;
  font-size: 0.6875rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
}

.text-center {
  text-align: center;
  justify-content: center;
}

.text-light {
  font-family: $font-family-secondary;
  font-size: 0.75rem;
  letter-spacing: 0.3125rem;
  color: rgba($color-white, 0.7);
  font-weight: 500;
  margin-bottom: 0;
  line-height: 2rem;
  text-transform: uppercase;
}

.text-caption {
  font-family: $font-family-additional;
  font-size: 4rem;
  line-height: 4.625rem;
  color: $color-white;
  margin: 0;
}