$color-white: #fff;
$color-black: #000;
$color-dark: #343434;
$color-grid: #c6c6c6;
$color-lgray: #707070;

$color-text: $color-dark;
$color-body: $color-white;

$font-family: "Crimson Text", tahoma;
$font-family-additional: "Sharp Sans No1", tahoma;
$font-family-secondary: "MB Empire", tahoma;


$font-size: 16px;
$font-weight: 400;
$transition: 300ms;

$cover-transition: 300ms;

$nav-height: 100px;

$container-padding: 5vw;

$spacer: 10rem;